<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>WebtechID - Landing Page</title>
  </head>
  <body>
    <!-- NAVBAR -->

    <div class="background-opacity"></div>
    <img src="img/IMAGES/images (2).jpg" alt="" class="background-header" />

    <nav class="container-full navbar">
      <div class="container d-flex">
        <div class="brand-logo">
          <img src="img/logo-WebtechID.png" height="30px" alt="" />
        </div>
        <form action="" class="">
          <input type="text" class="input-search" placeholder="Search" />
          <button type="submit" hidden></button>
        </form>
        <div class="menu">
          <a href="">Home.</a>
          <a href="">About.</a>
          <a href="">Portofolio.</a>
          <a href="">Blog.</a>
        </div>
      </div>
    </nav>
    <!-- /NAVBAR -->
    <!-- MAIN -->
    <main class="container-full">
      <section class="container" id="header">
        <h1 class="title-1 text-white">
          The Spirit of <br />
          Web Technology <br />
          Indonesia
        </h1>
        <p class="message">
          Teknologi web di Indonesia terus berkembang dengan pesat,<br />
          didukung oleh komunitas pengembang yang aktif dan akses internet yang
          semakin luas.
        </p>
        <div class="d-flex fitcontent">
          <button class="button text-white">More About us</button>
          <!-- <a href="">Other Display</a> -->
        </div>
      </section>
    </main>
    <!-- /MAIN -->
  </body>
</html>
